body{
    margin: 0;
}

.document{
    position: fixed;
    height: 80%;
    width: 100%;
    border: 1px solid black;
}
.tool-panel{
    position: fixed;
    top: 80%;
    height: 20%;
    width: 100%;
    background: #bbbbbb;
    border: 1px solid black;
}